body {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", 微软雅黑, "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
  overflow: hidden;
  background-color: transparent;
  -webkit-app-region: no-drag;
}

.error {
  height: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.error-container-lamp {
  margin: 40px auto;
  padding: 0;
  text-align: center;
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 120px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  color: #fff;
  cursor: default;
  white-space: nowrap;
  padding: 0 80px;
  transform: translate3d(0, 0, 0);
}

.error-container-lamp-1, .error-container-lamp-2, .error-container-lamp-3, .error-container-lamp-4, .error-container-lamp-5 {
  margin: 0 -10px;
  text-shadow: 0 0 2px #686868, 0px 1px 1px #ddd, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #777, 0px 8px 3px rgba(100, 100, 100, 0.4), 0px 9px 5px rgba(100, 100, 100, 0.1), 0px 10px 7px rgba(100, 100, 100, 0.15), 0px 11px 9px rgba(100, 100, 100, 0.2), 0px 12px 11px rgba(100, 100, 100, 0.25), 0px 13px 15px rgba(100, 100, 100, 0.3);
  transition: all .1s linear;
}

.error-container-lamp-1 {
  transform: translate3d(0, 0, 0);
  animation: lamp 3s linear infinite;
}

.error-container-lamp-2 {
  transform: translate3d(0, 0, 0);
  animation: lamp 3s linear 0.6s infinite;
}

.error-container-lamp-3 {
  transform: translate3d(0, 0, 0);
  animation: lamp 3s linear 1.2s infinite;
}

.error-container-lamp-4 {
  transform: translate3d(0, 0, 0);
  animation: lamp 3s linear 1.8s infinite;
}

.error-container-lamp-5 {
  animation: lamp 3s linear 2.4s infinite;
}

.error-container-desc {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 2px 2px #777;
  letter-spacing: 1px;
}

.error-container-desc span {
  font-size: 24px;
  padding-left: 7px;
}

@keyframes lamp {
  0% {
    text-shadow: 0 0 2px #686868, 0px 1px 1px #ddd, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #777, 0px 8px 3px rgba(100, 100, 100, 0.4), 0px 9px 5px rgba(100, 100, 100, 0.1), 0px 10px 7px rgba(100, 100, 100, 0.15), 0px 11px 9px rgba(100, 100, 100, 0.2), 0px 12px 11px rgba(100, 100, 100, 0.25), 0px 13px 15px rgba(100, 100, 100, 0.3);
  }
  16% {
    text-shadow: 0 0 2px #686868, 0px 1px 1px #fff, 0px 2px 1px #fff, 0px 3px 1px #fff, 0px 4px 1px #fff, 0px 5px 1px #fff, 0px 6px 1px #fff, 0px 7px 1px #777, 0px 8px 3px #fff, 0px 9px 5px #fff, 0px 10px 7px #fff, 0px 11px 9px #fff, 0px 12px 11px #fff, 0px 13px 15px #fff;
  }
  32% {
    text-shadow: 0 0 2px #686868, 0px 1px 1px #ddd, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #777, 0px 8px 3px rgba(100, 100, 100, 0.4), 0px 9px 5px rgba(100, 100, 100, 0.1), 0px 10px 7px rgba(100, 100, 100, 0.15), 0px 11px 9px rgba(100, 100, 100, 0.2), 0px 12px 11px rgba(100, 100, 100, 0.25), 0px 13px 15px rgba(100, 100, 100, 0.3);
  }
  100% {
    text-shadow: 0 0 2px #686868, 0px 1px 1px #ddd, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #777, 0px 8px 3px rgba(100, 100, 100, 0.4), 0px 9px 5px rgba(100, 100, 100, 0.1), 0px 10px 7px rgba(100, 100, 100, 0.15), 0px 11px 9px rgba(100, 100, 100, 0.2), 0px 12px 11px rgba(100, 100, 100, 0.25), 0px 13px 15px rgba(100, 100, 100, 0.3);
  }
}

.error-container-retry, .error-container-close {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-family: "PingFang SC", 微软雅黑, "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
  outline: none;
  display: inline-block;
  margin: 20px 30px;
  padding: 10px 30px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: all;
  box-shadow: 0 0 1px transparent;
}

.error-container-retry:before, .error-container-close:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, transparent 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.error-container-retry:after, .error-container-close:after {
  content: "";
  position: absolute;
  border: 0 solid #eee;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  animation-duration: 1s;
}

.error-container-retry:hover, .error-container-retry:focus, .error-container-retry:active, .error-container-close:hover, .error-container-close:focus, .error-container-close:active {
  transform: translateY(-5px);
}

.error-container-retry:hover, .error-container-retry:focus, .error-container-retry:active, .error-container-close:hover, .error-container-close:focus, .error-container-close:active {
  color: #fff;
}

.error-container-retry:hover:before, .error-container-retry:focus:before, .error-container-retry:active:before, .error-container-close:hover:before, .error-container-close:focus:before, .error-container-close:active:before {
  opacity: 1;
  transform: translateY(5px);
}

.error-container-retry:hover:after, .error-container-retry:focus:after, .error-container-retry:active:after, .error-container-close:hover:after, .error-container-close:focus:after, .error-container-close:active:after {
  animation-name: ripple-out;
  border: 4px solid #eee;
  border-radius: 3px;
}

@keyframes ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
    border-radius: 40%
  }
}
