body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "PingFang SC", 微软雅黑, "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
  overflow: hidden;
}

*, *::before, *:after {
  box-sizing: border-box;
}

.setting {
  padding: 10px 15px;
}

.setting-item {
  margin: 10px auto;
}

.setting-item-title {
  font-size: 16px;
  margin: 5px auto;
}

.setting-item-value {
  margin: 5px auto;
}

.setting-item-value input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 6px 6px;
  outline: none;
  border-radius: 2px;
  cursor: text;
  user-select: none;
}

.setting-item-value input:focus, .setting-item-value input:active {
  border: 1px solid #0bf;
  box-shadow: 0 0 1px #0bf;
  outline: none;
}

.setting-error {
  height: 18px;
  color: #f00;
  margin: 5px auto;
  font-size: 13px;
}

.setting-button {
  margin: 20px auto;
  text-align: center;
}

.setting-button button {
  background-color: #08f;
  color: #fff;
  padding: 7px 20px;
  border: 1px solid #08f;
  border-radius: 2px;
  margin: 0 20px;
  outline: none;
  cursor: pointer;
}

.setting-button button:active {
  background-color: #06f;
  box-shadow: 0 0 2px #08f;
}
