@font-face
  font-family "iconfont"
  src: url("./assets/css/fonts/iconfont.woff") format("woff"), url("./assets/css/fonts/iconfont.ttf") format('truetype')

[class^="iconfont-"],
[class*=" iconfont-"]
  font-family "iconfont"
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  vertical-align baseline
  -webkit-font-smoothing antialiased

.iconfont-brush:before
  content "\e701"

.iconfont-revoke:before
  content "\e702"

.iconfont-cancel:before
  content "\e703"

.iconfont-done:before
  content "\e704"

