html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #5a83b7;
  background-image: url("../images/main-bg.png");
}

.webview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
