body {
  border: 1px solid rgba(90, 131, 183, 0.3);
}

#layout-main {
  width: 100% !important;
  height: 100% !important;
  flex: 0 1 100% !important;
}

#header {
  display: block !important;
}


/*登录时去掉背景*/

#header.login-header {
  background: none;
}

#header>upload-list > .upload-container-wrap.ng-isolate-scope {
  margin-right: 96px !important;
}

#body {
  height: 100% !important;
  flex: 0 1 100% !important;
}

@font-face {
  font-family: "dingtalk-font";
  src: url('//at.alicdn.com/t/font_zib5yatbnvw5qaor.eot?t=1498576064752');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_zib5yatbnvw5qaor.eot?t=1498576064752#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_zib5yatbnvw5qaor.woff?t=1498576064752') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_zib5yatbnvw5qaor.ttf?t=1498576064752') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_zib5yatbnvw5qaor.svg?t=1498576064752#iconfont') format('svg');
  /* iOS 4.1- */
}

ul.dingtalk-window-operations {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 3px;
  z-index: 1;
}

ul.dingtalk-window-operations>li {
  font-family: "dingtalk-font" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

ul.dingtalk-window-operations>li {
  float: right;
  width: 23px;
  height: 23px;
  line-height: 23px;
  margin: 0 1px;
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

ul.dingtalk-window-operations>li:hover {
  color: #1f1f1f;
  font-weight: 400;
}

ul.dingtalk-window-operations>li.window-minimize:before {
  content: "\e776";
}

ul.dingtalk-window-operations>li.window-maximization:before {
  content: "\e777";
}

ul.dingtalk-window-operations>li.window-close:before {
  content: "\e778";
}
