@font-face {
  font-family: "dingtalk-font";
  src: url('../fonts/iconfont.eot');
  /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
