#layout-main {
  width: 100% !important;
  height: 100% !important;
  flex: 0 1 100% !important;
}

#header>div.upload-container-wrap.ng-scope.ng-isolate-scope {
  margin-right: 100px !important;
}

#body {
  height: 100% !important;
  flex: 0 1 100% !important;
}
