<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>网络错误</title>
  <link href="css/error.css" rel="stylesheet">
</head>
<body>
  <div class="error">
    <div class="error-container">
      <div class="error-container-lamp">
        <span class="error-container-lamp-1">E</span>
        <span class="error-container-lamp-2">R</span>
        <span class="error-container-lamp-3">R</span>
        <span class="error-container-lamp-4">O</span>
        <span class="error-container-lamp-5">R</span>
      </div>
      <div class="error-container-desc">网络错误
        <span>:(</span>
      </div>
      <button class="error-container-retry">重试</button>
      <button class="error-container-close">关闭</button>
    </div>
  </div>
  <script src="js/error.js"></script>
</body>
</html>
