<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>设置</title>
  <link href="css/font.css" rel="stylesheet">
  <link href="css/setting.css" rel="stylesheet">
</head>
<body>
  <div class="setting">
    <div class="setting-item">
      <div class="setting-item-title">截图</div>
      <div class="setting-item-value">
        <input id="shortcut-capture" type="text">
      </div>
    </div>
    <div id="error" class="setting-error"></div>
    <div class="setting-button">
      <button id="save" type="button">保存</button>
      <button id="cancel" type="button">取消</button>
    </div>
  </div>
  <script src="js/setting.js"></script>
</body>
</html>
